#list {
    background-color: #F9EED7;
    background-image: url("../../Assets/background.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 100px;
    min-height: 100vh;
}