#battle {
    background-color: #F9EED7;
    background-image: url("../../Assets/background.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 100px;
    min-height: 100vh;


    .vs {
        width: 150px;
    }

    .hero {
        transition: all 0.3 ease-in-out;
    }

    .win {
        transform: scale(1.1);
    }

    .loose {
        transform: scale(0.8);
        opacity: 0.7;
    }
}