.menu {
    background-color: #F9EED7;
    -webkit-box-shadow: -2px 15px 20px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: -2px 15px 20px 0px rgba(0,0,0,0.05);
    box-shadow: -2px 15px 20px 0px rgba(0,0,0,0.05);
}

.logo {
    background-image: url(../../Assets/logo.svg);
    height: 20px;
    width: 60px;
}